{% extends "app/layout.html" %}

{% block content %}

<h1>{{ title }}</h1>
<h3>{{ message }}</h3>

<section>
    <p class="lead">Мы - FluinFD.</p>
    <p>Изучение языка — одна из самых полезных, но и самых сложных вещей, которые мы когда-либо делали.</p>
    <p>Традиционные инструменты, такие как учебники, были необходимы для нас. Но мы обнаружили, что лучше всего мы учимся на богатом, увлекательном опыте.</p>
    <p>Легко запоминать слова, когда они подкрепляются волнующим вас опытом.</p>
</section>

<section>
    <h2>Наша Цель</h2>
    <p>Наша цель заключается в интересном и быстром обучении.</p>
    <p>Мы также считаем, что раннее знакомство с увлекательным контентом помогает учащимся не сдаваться до того, как они научатся бегло говорить.</p>
    <p>Мы также стремимся к экологической устойчивости и призываем наших пользователей к ответственному использованию техники.</p>
</section>

<section>
    <h2>Наша команда</h2>
    <p>
        Наша команда состоит из профессионалов, которые постоянно улучшаются в своих знаниях.
    </p>
</section>

{% endblock %}