{% extends "app/layout.html" %}
{% load static %}

{% block content %}
<div class="product-page">
    <h1 class="product-title">Корзина</h1>
    <table class="cart-table">
        <thead>
            <tr>
                <th>Наименование</th>
                <th>Количество</th>
                <th>Цена за штуку</th>
                <th>Сумма</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart_items %}
            <tr>
                <td>
                    <a class="product-link" href="{% url 'product' item.product.id %}">{{ item.product.name }}</a>
                </td>
                <td>
                    <button class="quantity-button decrease-quantity-button" data-item-id="{{ item.id }}">−</button>
                    <span>{{ item.quantity }}</span>
                    <button class="quantity-button increase-quantity-button" data-item-id="{{ item.id }}">+</button>
                </td>
                <td>{{ item.product.price }} ₽</td>
                <td>{{ item.subtotal }} ₽</td>
                <td>
                    <button class="remove-from-cart-button" data-item-id="{{ item.id }}">Удалить</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p class="total-price">Итого: {{ total_price }} ₽</p>
    <button class="checkout-button" onclick="window.location.href='{% url 'checkout' %}'">Оформить заказ</button>
</div>

<script>
$(document).ready(function() {
    $(".remove-from-cart-button").click(function() {
        var item_id = $(this).data("item-id");

        $.ajax({
            type: "POST",
            url: "{% url 'remove_from_cart' %}",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                item_id: item_id,
            },
            success: function(data) {
                alert(data.message);
                location.reload();
            },
            error: function(xhr, status, error) {
                console.error(xhr.responseText);
                alert("Error: Продукт не может быть удален из корзины.");
            }
        });
    });
    $(".increase-quantity-button").click(function() {
        var item_id = $(this).data("item-id");

        $.ajax({
            type: "POST",
            url: "{% url 'increase_quantity' %}",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                item_id: item_id,
            },
            success: function(data) {
                location.reload();
            },
            error: function(xhr, status, error) {
                console.error(xhr.responseText);
                alert("Error: Не удалось увеличить количество.");
            }
        });
    });
    $(".decrease-quantity-button").click(function() {
        var item_id = $(this).data("item-id");

        $.ajax({
            type: "POST",
            url: "{% url 'decrease_quantity' %}",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                item_id: item_id,
            },
            success: function(data) {
                location.reload();
            },
            error: function(xhr, status, error) {
                console.error(xhr.responseText);
                alert("Error: Не удалось уменьшить количество.");
            }
        });
    });
});
</script>

<style>
    .product-page {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        overflow-x: auto;
    }

    .product-title {
        font-size: 24px;
        color: #3148c7;
        margin: 0;
    }

    .quantity-button {
        background-color: #3148c7;
        color: #fff;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        width: 30px;
        font-weight: 900;
    }

        .quantity-button:hover {
            background-color: #0a086d;
        }

    .cart-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

        .cart-table th, .cart-table td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ccc;
        }

        .cart-table th {
            background-color: #3148c7;
            color: #fff;
            font-weight: bold;
        }

    .remove-from-cart-button {
        background-color: #3148c7;
        color: #fff;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
    }

        .remove-from-cart-button:hover {
            background-color: #0a086d;
        }

    .total-price {
        font-size: 18px;
        color: #333;
        margin-top: 20px;
    }

    .checkout-button {
        background-color: #3148c7;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 8px;
        font-weight: bold;
        cursor: pointer;
        margin-top: 20px;
    }

        .checkout-button:hover {
            background-color: #0a086d;
        }
</style>
{% endblock %}
