{% extends "app/layout.html" %}
{% load static %}

{% block content %}

<h1 class="title">{{ title }}</h1>
<h3 class="message">{{ message }}</h3>

<ul class="links-list">
    <li class="links-list__item">
        <a class="links-list__item-url" href="https://www.facebook.com/FluentU" target="_blank">
            <img class="links-list__item-url-logo" src="{% static 'app/content/Facebook_icon.svg.png' %}" alt="Facebook" />
        </a>
    </li>
    <li class="links-list__item">
        <a class="links-list__item-url" href="https://twitter.com/FluentU" target="_blank">
            <img class="links-list__item-url-logo" src="{% static 'app/content/twitter-logo.png' %}" alt="Телеграмм" />
        </a>
    </li>
</ul>

<style>
    .links-list {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .links-list__item {
        margin: 0 1.5rem;
    }

    .links-list__item-url {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        overflow: hidden;
        transition: all 0.3s ease;
    }

    .links-list__item-url-logo {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .links-list__item-url:hover {
        transform: scale(1.2);
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    }
</style>

{% endblock %}
