{% extends "app/layout.html" %}
{% load static %}

{% block content %}

<h1>{{ title }}</h1>
<hr />
<div>
    <h2>Короткие обучающие уроки</h2>
    <VIDEO src="{% static 'app/content/education_video.mp4' %}" controls="controls" width="700" height="450" poster="{% static 'app/content/poster1.jpg' %}"></VIDEO>
    <h2>Программы обучения</h2>
    <VIDEO src="{% static 'app/content/german_video.mp4' %}" controls="controls" width="700" height="450" poster="{% static 'app/content/poster2.jpg' %}"></VIDEO>
</div>

<style></style>
{% endblock %}
